@import "tailwindcss";

@font-face {
  font-family: "BenderBlack";
  src: url("../static/fonts/Bender-Black.otf");
}
@font-face {
  font-family: "BenderBold";
  src: url("../static/fonts/Bender-Bold.otf");
}
@font-face {
  font-family: "BenderRegular";
  src: url("../static/fonts/Bender-Regular.otf");
}

@theme {
  --breakpoint-md: 56.25rem;
  --font-bender: "BenderRegular", sans-serif;
  --font-bender-bold: "BenderBold", sans-serif;
  --font-bender-black: "BenderBlack", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100dvh;
  background-color: #181c24;
  scrollbar-width: thin;
  scrollbar-color: #23293a #3a7bd5;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.simplebar-scrollbar::before {
  background: #3a7bd5 !important;
}

.simplebar-track.simplebar-vertical {
  width: 8px;
}
